beautifulsoup4==4.14.2
chardet==5.2.0
click==8.3.1
colorama==0.4.6
coverage==7.12.0
cssutils==2.11.1
-e git+https://github.com/olDox0/Doxoade.git@74c146dc8ff437a4d59d8eb7284baa65809b976c#egg=doxoade
esprima==4.0.1
iniconfig==2.3.0
jsondiff==2.2.1
lxml==6.0.2
mando==0.7.1
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
numpy==2.3.5
packaging==25.0
pandas==2.2.3
pluggy==1.6.0
prompt_toolkit==3.0.52
pyflakes==3.4.0
Pygments==2.19.2
pytest==9.0.1
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
radon==6.0.1
rich==14.2.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.8
stdlib-list==0.12.0
toml==0.10.2
typing_extensions==4.15.0
tzdata==2025.2
wcwidth==0.2.14
wheel==0.45.1
